body {
    background-image: url("D3607_CRH2A_EMU_at_Foshan_West_Railway_Station.jpg");
    background-size: auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    background-repeat: no-repeat;
    
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: 2px seagreen;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: darkred;
}
#increment-btn:hover{
    background-color: white;
    color: darkred;
}

#save-btn {
    background: darkgreen;
}
#save-btn:hover {
    background: whitesmoke;
    color: darkgreen;
}

